name: Maven Build and Test

permissions:
  contents: read
  actions: write
  checks: write
  statuses: write

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install dependencies
        run: mvn clean install
        continue-on-error: true

      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/*.xml

  report:
    runs-on: ubuntu-latest
    needs: [build-test]
    permissions: write-all

    steps:
      - name: Report test results
        if: always()
        uses: dorny/test-reporter@v1
        with:
          artifact: surefire-reports
          name: Test Results
          path: '*.xml'
          reporter: java-junit